
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-body">



            <div class="form-group">
                <label class="label">First Name</label>
                <input class="form-control" type="text"   ng-model="c.FirstName" placeholder="First Name" />
            </div>


            <div class="form-group">
                <label class="label">Last Name</label>
                <input class="form-control" type="text" maxlength="100"  ng-model="c.LastName" placeholder="Last Name" />
            </div>
            <div class="form-group">
                <label class="label">Date Of Birth</label>

                <!--<input class="form-control" type="datetime"  ng-model="c.DateOfBirth2" />-->

                <input class="form-control" type="date"  ng-model="c.DateOfBirth" placeholder="Date of Birth" />


            </div>

            <div class="form-group">
                <label class="label">Email</label>
                <input class="form-control"  type="email" maxlength="50"  ng-model="c.MainEmail" placeholder="Main Email" />
            </div>



            <div class="form-group">
                <label class="label">Phone</label>
                <input class="form-control" type="text" maxlength="50" ng-model="c.Phone" placeholder="Phone" />
            </div>
            <div class="form-group">
                <label class="label">Address 1</label>
                <input class="form-control" type="text" maxlength="50"  ng-model="c.Address1" placeholder="Address 1" />
            </div>
            <div class="form-group">
                <label class="label">Address 2</label>
                <input class="form-control" type="text" maxlength="50"  ng-model="c.Address2" placeholder="Address 2" />
            </div>
            <div class="form-group">
                <label class="label">City</label>
                <input class="form-control" type="text" maxlength="50"  ng-model="c.City" placeholder="City" />
            </div>
            <div class="form-group">
                <label class="label">Depto</label>
                <input class="form-control" type="text" maxlength="50"  ng-model="c.State" placeholder="State" />
            </div>

            <div class="form-group">
                <label class="label">Note</label>
                <textarea class="form-control" maxlength="1000"  ng-model="c.Notes" placeholder="Note"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
